<li [ngClass]="{ 'list-group-item' : true,
    'list-group-item-danger' : dontLove > love,
    'list-group-item-success' : love > dontLove }">
    <h3>{{ userName }} said :</h3>
    <p class="text-black-50 font-italic"><small>on {{ date |  date: 'EEE dd MMM y, HH:mm' }}</small></p>
    <p class="ml-3">{{ comment }}</p>
    <input type="button" 
        value="Love it ! ({{ love }})" 
        class="btn btn-success mr-3"
        (click)="onLove()">
    <input type="button" 
        value="Don't love it ... ({{dontLove}})" 
        class="btn btn-danger ml-3"
        (click)="onDontLove()">
</li>
